<nav class="navbar navbar-light bg-dark">
  <span class="navbar-brand mb-0 h1 text-light"><a color="white" [routerLink]="['/transactions']">Transactions</a></span>
  <span class="navbar-brand mb-0 h1 text-light"><a color="white" [routerLink]="['/customers']">Customers</a></span>
  <span class="navbar-brand mb-0 h1 text-light"><a color="white" [routerLink]="['/places']">Places</a></span>
  <span class="navbar-brand mb-0 h1 text-light"><a color="white" [routerLink]="['/products']">Products</a></span>
  <span class="navbar-brand mb-0 h1 text-light" ><a color="white" [routerLink]="['/categories']">Categories</a></span>
</nav>
